<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/goldalpha">Patrick</a>. Patrick wants to get a comfortable life for himself and his future family. 
  </p>
  <br />
  <p>
    That is why he is learning how to code. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>





</div>